body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.image-container {
    margin-bottom: 20px;
}

.draggable {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: move;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(6, 50px);  
    justify-content: center;
}

.grid-item {
    width: 50px;
    height: 50px;
    border: 1px dashed #3117d7;
    display: flex;      
    align-items: center;
    justify-content: center;
    position: relative;
}

.a {
    margin-top: .5rem;
}

@media screen and (max-width: 768px) {
    footer {
        background-color:#202020;
        width: 100%;
    }
}

@media (min-width: 992px) {
    footer {
        /* margin-top: auto; */
        background-color:#202020;
        /* position: fixed; */
        width: 100%;
        bottom:0;
    }
}

#KnownTarla {
  background-color: #4B0082;
  border-color: #4B0082;
  color: #fff;
}

#KnownTarla:hover {
  background-color: #360061;
  border-color: #360061;
}
