body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.image-container {
    margin-bottom: 20px;
}

.draggable {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: move;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(6, 50px);  
    justify-content: center;
}

.grid-item {
    width: 50px;
    height: 50px;
    border: 1px dashed #3117d7;
    display: flex;      
    align-items: center;
    justify-content: center;
    position: relative;
}

footer {
    /* margin-top: auto; */
    background-color:#202020;
    position: fixed;
    width: 100%;
    bottom:0;
}
.a {
    margin-top: .5rem;
}